.advantages__list {
  display: flex;
  column-gap: 30px;
}

.advantages__item {
  width: 270px;
}

.advantages__icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--command-back);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__titel {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__info {
  line-height: 1.71;
  color: var(--color-sub-text);
}
