.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/mob/hero-bg-mob.jpg");
  background-color: var(--backfround-hero);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  margin: 0 auto;

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text);
    margin: 0 auto 30px;
  }

  &__button {
    padding: 10px 24px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/mob/hero-bg-mob@2x.jpg");
  }
}

/* 
768px
*/
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/tab/hero-bg-tab.jpg");
  }
}

/* 
2x
768px
*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/tab/hero-bg-tab@2x.jpg");
  }
}

/* 
1200px
*/
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url("../images/des/hero-bg.jpg");
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }

    &__button {
      padding: 10px 32px;
    }
  }
}

/* 
2x
1200px
*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/des/hero-bg@2x.jpg");
  }
}