.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  display: flex;
  align-items: center;
}

@media screen and (min-width:1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}