.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
  }
}