:root {
  --background-site: #fff;
  --backfround-hero: #2f303a;
  --background-team-card: #fff;
  --color-main-text: #212121;
  --color-sub-text: #757575;
  --color-accent: #2196f3;
  --text: #fff;
  --logo-color: #000000;
  --act-button: #188ce8;
  --command-back: #f5f4fa;
  --client-color: #afb1b8;
  --footer-back: #2f303a;
  --footer-info: rgba(255, 255, 255, 0.6);
  --join-item-bg: rgba(255, 255, 255, 0.1);
  --social-icon: #afb1b8;
  --doing-info-bg: rgba(47, 48, 58, 0.8);
  --duration-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
